version: '3.4'

services:
  consul:
    image: consul:latest
    command: "agent -server -ui -node=server1 -bootstrap-expect=1 -client=0.0.0.0"
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    networks:
      - consul-net

networks:
  consul-net:
    driver: bridge